#mainContainer {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  overflow: visible;
  filter: var(--image-color);
  .image {
    flex: 1 1 auto;
    width: calc(100% / 16);
    height: calc(100% / 9);
    color: currentColor;
    overflow: visible;
    position: relative;
    z-index: -10;
    transition: color .5s ease;
  }
}
.image {
  svg {
    width: 170%;
    height: 170%;
  }
}

