@use "../styles/utils/_util";
.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  position: relative;
}
.formContainer {
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 50%;
  height: 50%;
  background-color: var(--container-bg);
  backdrop-filter: blur(10px);
  padding: 1rem;
  &::after {
    content: "Scroll down for Instagram link";
    position: absolute;
    top: -15%;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    filter: var(--text-color);
  }
  .form {
    border-radius: 0.5em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    filter: var(--text-color);
    .fieldset {
      width: 100%;
      border-radius: 0.5rem;
      border: 2px solid black;
      padding: -1rem;
      legend {
        font-size: 1.2rem;
        margin: 0 1rem;
        border-radius: 0.5em;
        padding: 0.2em;
      }
      input {
        width: 100%;
        font-size: 1.5rem;
        border: none;
        outline: none;
        margin: 0 1rem;
        background-color: transparent;
        overflow: hidden;
      }
      textarea {
        font-size: 1.2rem;
        padding: 0 1rem;
        resize: none;
        width: 100%;
        height: 6rem;
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
  }
  & > * {
    width: 100%;
  }
  .submit {
    margin-top: 1rem;
    width: max-content;
    font-size: 1.2em;
    padding: 0.2em 1em;
    background-color: white;
    border-radius: 0.5em;
    outline: none;
    cursor: pointer;
    filter: var(--text-color);
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
.contactContainer {
  @include util.flex-center-both(row);
  width: 15rem;
  height: 30rem;
  background-color: var(--container-bg);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  position: relative;
}
.contactContainer::before {
  content: "Click on image for direct link.";
  background-color: var(--bg);
  width: max-content;
  font-size: 1.2rem;
  color: var(--title-color);
  padding: 1rem;
  position: absolute;
  top: -20%;
  border-radius: 1rem;
}

.cardsBackground {
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  filter: var(--text-color);
  z-index: -10;
  border-radius: 1rem;
}

.cards {
  @include util.flex-center-both(column);
  border-radius: 1rem;
  justify-content: space-evenly;
  position: absolute;
  z-index: 10;
  top: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
}
.logoLink {
  @include util.flex-center-both(row);
  width: calc(100% - 0.5rem);
  aspect-ratio: 1/1;
  filter: invert(1);
  background-color: var(--bg);
  position: relative;
  border-radius: 1rem;
}
.logoLink::before {
  content: "";
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  aspect-ratio: 1/1;
  background-image: url("../public/icons/instagram.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: var(--image-color);
  border-radius: 1rem;
}
.QR_Link {
  @include util.flex-center-both(row);
  width: calc(100% - 0.5rem);
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 1rem;
}
.QR_Link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  aspect-ratio: 1/1;
  background-image: var(--instagram);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 1rem;
}
@media only screen and (max-width: 600px) {
  .mainContainer {
    flex-direction: row;
  }
  .formContainer::after {
    content: "Swipe right for Instagram link";
  }
}
@media only screen and (max-width: 769px) {
  .formContainer {
    width: 100%;
    height: max-content;
  }
}
